<html>
<head>
    <h1>Please enter your flower dimensions</h1>
</head>

<body>
	<form action="/" method="post">
        <div>
            <label for="Sepal_width">Sepal_width :</label>
            <input type="number" step="0.01" id="Sepal_width" name="Sepal_width">
        </div>
        <div>
            <label for="Sepal_height">Sepal_height :</label>
            <input type="number" step="0.01" id="Sepal_height" name="Sepal_height">
        </div>
        <div>
            <label for="Petal_width">Petal_width :</label>
            <input type="number" step="0.01" id="Petal_width" name="Petal_width">
        </div>
        <div>
            <label for="Petal_height">Petal_height :</label>
            <input type="number" step="0.01" id="Petal_height" name="Petal_height">
        </div>
        <div class="button">
            <button type="submit">Estimer</button>
        </div>    
    </form>
</body>
</html>
